<section class ="Menu">
    <%menus.all.each do |menu|%>
        <li>
            <%=form_with(url: "/menus/#{menu.id}", method:"delete",class:"Menu-form") do%>
                <%=link_to menu_path(menu.id),class: "Menu-link" do%>
                    <label class="Menu-container">
                        <p class="Menu-text"><%= menu.menu_item %></p>
                        <%=image_tag 'trashcan1.svg' %> 
                </label>
            <%end%> 
            <%=image_submit_tag 'trashcan1.svg'%>
            <%end%>
        </li>
    <%end%>
</section>
