<article>
   <section class="MenuItem">
     
       <%= form_with url: orders_path, method: "post" do |form| %>
         <% menu.each do |item| %>
           <li>
             <div class="MenuItem-container">
              <%= form.check_box :item_ids, {multiple: true, id: "item-#{item.id}"}, item.id, nil %>
              <p><%= item.menu_item_name %></p>
              <p class="MenuItem-price"> &#x20b9; <%=item.menu_item_price%> </p>
          
             </div>
           </li>
         <% end %>
         <%= form.submit "Add to Cart", name:"commit", class:"Table-button" %>
        <%= form.submit  "Place Order", name:"commit", class:"Table-button" %>
       
       <% end %>
     </table>
   </section>
 </article>