<article>
   <section class="MenuItem">
     
      <%= form_with url: orders_path, method: "post" do |form| %>
        <% menu.each do |item| %>
          <li>
            <div class="MenuItem-container">
            <%= form.check_box :item_ids, {multiple: true, id: "item-#{item.id}"}, item.id, nil %>
              <label for="<%= "item-#{item.id}" %>"><%= item.menu_item_name %> </label>
              <p class="MenuItem-price"> &#x20b9; <%=item.menu_item_price%> </p>
              <%= link_to menu_item_path(item.id) ,method: "delete" do %>
                    
             <%= image_tag ('trashcan1.svg') %>
            <% end %>
            </div>
          </li>
        <% end %>
        <%= form.submit "Add to Cart", class:"Table-button" %>
        <%= form.submit "Place Order", class:"Table-button" %>


      <% end %>
  </section>
</article>