<article>
     <h1><%= flash[:error] %></h1>
   <section class="MenuItem">
       <% menu.each do |item| %>
       <li>
         <%= form_with url: cart_path, method: "post" do |form| %>
           <div class="MenuItem-container">
             <%= hidden_field_tag :item_name, item.menu_item_name %>
             <%= hidden_field_tag :item_price,item.menu_item_price %>
             <%= hidden_field_tag :menu_item_id,item.id %>
             <%= hidden_field_tag :menu_item_id, item.id %>
             <p><%= item.menu_item_name %></p>
             <p class="MenuItem-price"> &#x20b9; <%=item.menu_item_price%> </p>
             <input type="number" name="quantity" id="quantity" value="1" min="1" max="8" style="margin-left:5px;">
             </div>
           <%= form.submit  "Add to Cart", class:"Table-button" %>
           <% end %>
           </li>
           <% end %>
   </section>
   <section>
     <h1>Your Food Cart!</h1>
     <% order_items=Order.find(session[:current_order_id]).order_items %>
     <% total_price=0 %>
     <% order_items.each do |item| %>
       <p> <%= item.menu_item_name %> </p>
       <p> <%= item.menu_item_price %> </p>
       <p> <%= item.quantity %> </p>
       <p> <%= item.price %> </p>
       <% total_price+=item.price %>
     <% end %>
     <%= form_with url:orders_path, method: "post" do |form|%>
       <% hidden_field_tag :total_price, total_price %>
       <%= form.submit  "Buy Now", class:"Table-button" %>
     <% end %>
   </section>
 </article>