<article>
   <div style="margin-bottom:20px;">
     <%=form_with(url:'/menus',method: 'post', class: "AddMenu") do%>
       <%=text_field_tag 'menu_name',nil,placeholder:'Name of the Menu?',class:"AddMenu-name"%>
       <%=submit_tag 'Add',class:'AddMenu-button'%>
     <%end%>
   </div>
   <div class="Menus">
     <table>
       <tr class="Table-header">
         <th>Menu</th>
         <th>Delete</th>
       </tr>
       <%Menu.all.each do |menu|%>
         <li>
           <tr>
              <td style="display:flex;">
               <%=link_to menu_path(menu.id),class: "Menu-link" do%>
                 <label class="Menu-container">

                   <p class="Menu-text"><%= menu.menu_name %></p>
                   <%=image_tag 'right-arrow.png' %>
                 </label>
               <%end%>
               </td>
             <td>
               <%=link_to menu_path(menu.id), method:"delete",class:"Menu-form"   do%>
                 <%=image_submit_tag 'trashcan1.svg'%>
               <%end%>
            </td>
           </tr>
         </li>

       <%end%>
     </table>
    </div>
 </article>
 