<section>
   <p>My Cart</p>
   <table>
   <%= form_with url:cart_orders_path, method: "post"  do |form| %>
    <% @orders.all.each do |order| %>
      <li class="Orders">
        <label class="Orders-container">
          <%= form.check_box :order_ids, {multiple: true,  id: "order-#{order.id}"}, order.id, nil %>
          <label for="<%= "order-#{order.id}" %>" > <%= order.user.first_name %> </p>
          <p class="Order-user-id"> <%= order.user.id %> </p>
          <p class="Order-id"> <%= order.id %> </p>
        </label>
      </li>
    <% end %>
    <%= form.submit "Place Order" %>
   <% end %>
  </table>
</section>