<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
       href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
       rel="stylesheet"
       type="text/css"
     />
  
    </head>

  <body>
  <% if @current_user %>
    <div class="NavBar">
      <ul class="NavBar-items">
        <li class="NavBar-title">
          <p style="font-size: xxx-large;color:dimgrey;"><i class="fa fa-utensils"></i>Cafeteria</p>
        <li>
        <% if @current_user.role == 'owner' %>
        <li class="NavBar-item-wrapper">
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_index_path, method: "get", class:"NavBar-content"%>
        </li>
        <li class="NavBar-item-wrapper">
        <i class="fa fa-truck"></i>
        <%= link_to "Pending-orders", orders_path, method: "get", class:'NavBar-content' %>
        </li>
      <% end %>
      <li class="NavBar-item-wrapper">
      <i class="fa fa-hamburger"></i>
      <%= link_to "Menus", menus_path, method: "get", class: 'NavBar-content' %>
      </li>
       
        <li class="NavBar-item-wrapper">
          <i class="fa fa-power-off"></i>
          <%= link_to "Sign-out", destroy_session_path, method: "delete", class:"NavBar-content" %>
        </li>
        <i class="fa fa-user"></i>
      </ul>
    
      
    </div>
    <% end %>

    <div class="Body-content">
      <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
